
# **Mastering Numpy library** _Day 05_

##### Name: Muhammad Hassaan
##### Date: Jan 28, 2024
##### Email: muhammadhassaan7896@gmail.com

In [39]:
import pandas as pd 
import numpy as np

In [40]:
data = np.array([[1, 2], [3, 4], [5, 6]])
data

array([[1, 2],
       [3, 4],
       [5, 6]])

In [41]:
# create a matrix of a big dimension
data = np.arange(0, 100, 2,).reshape(5, 10)
data

array([[ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28, 30, 32, 34, 36, 38],
       [40, 42, 44, 46, 48, 50, 52, 54, 56, 58],
       [60, 62, 64, 66, 68, 70, 72, 74, 76, 78],
       [80, 82, 84, 86, 88, 90, 92, 94, 96, 98]])

In [42]:
data[1:3, 3:5]

array([[26, 28],
       [46, 48]])

In [43]:
data[0:3, 3:5]

array([[ 6,  8],
       [26, 28],
       [46, 48]])

In [44]:
data.max()

98

In [45]:
data.min()

0

In [46]:
data.sum()

2450

In [47]:
data.min(axis=1) # only for rows

array([ 0, 20, 40, 60, 80])

In [48]:
data.min(axis=0) #only for columns

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [68]:
m = np.arange(0, 20, 2).reshape(5,2)
m

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14],
       [16, 18]])

In [69]:
m + np.array([20, 22]) # addition

array([[20, 24],
       [24, 28],
       [28, 32],
       [32, 36],
       [36, 40]])

In [70]:
m = np.vstack((m, np.array([[50, 45]])))
m

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14],
       [16, 18],
       [50, 45]])

In [71]:
m * np.array([2])

array([[  0,   4],
       [  8,  12],
       [ 16,  20],
       [ 24,  28],
       [ 32,  36],
       [100,  90]])

In [72]:
b

array([[ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28, 30, 32, 34, 36, 38],
       [40, 42, 44, 46, 48, 50, 52, 54, 56, 58],
       [60, 62, 64, 66, 68, 70, 72, 74, 76, 78],
       [80, 82, 84, 86, 88, 90, 92, 94, 96, 98]])

In [73]:
np.flip(b)

array([[98, 96, 94, 92, 90, 88, 86, 84, 82, 80],
       [78, 76, 74, 72, 70, 68, 66, 64, 62, 60],
       [58, 56, 54, 52, 50, 48, 46, 44, 42, 40],
       [38, 36, 34, 32, 30, 28, 26, 24, 22, 20],
       [18, 16, 14, 12, 10,  8,  6,  4,  2,  0]])