# **Web Scrapping** _Day 126_
##### Name: Muhammad Hassaan
##### Date: August 30, 2024
##### Email: muhammadhassaan7896@gmail.com

In [2]:
# import libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
url = "https://en.wikipedia.org/wiki/World_population"
response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

print(soup.title.text)

World population - Wikipedia

In [5]:
## print the whole html code
# print(soup.prettify())

In [13]:
# find all the tables
tables = soup.find_all('table')

dataframe = []

# Iterate over each table
for table in tables:
    # Find all rows in the table, skipping the header row
    rows = table.find_all("tr")[1:]
    
    # Create an empty list to store the table data
    table_data = []
    
    # Iterate over each row
    for row in rows:
        # Find all columns in the row
        cols = row.find_all('td')
        
        # Extract the text from each column and strip whitespace
        cols = [col.text.strip() for col in cols]
        
        # Add the row data to the table data
        table_data.append(cols)
    
    # Create a pandas dataframe from the table data
    df = pd.DataFrame(table_data)
    
    # Add the dataframe to the list of dataframes
    dataframe.append(df)

In [28]:
dataframe[3]

,0,1,2,3,4
0,Asia,104.1,"4,641","1,439,090,595 – India","13,515,000 – Tokyo Metropolis(37,400,000 – G..."
1,Africa,44.4,"1,340","0,211,401,000 – Nigeria","09,500,000 – Cairo(20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million i...","13,200,000 – Moscow(20,004,000 – Moscow metr..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City(21,650,000 – São..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City(23,582,649 – New ..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[87],N/A[note 2],"00,001,258 – McMurdo Station"

In [29]:
# # save to csv
# dataframe[1].to_csv('world_population_01.csv', index=False, header=False)